:root {
	--neutral-light: #F9F9F9;
	--yellow: #FFE45E; /* rgba(255, 228, 94, 1) */
	--yellow-dark: #8d3d00; /* rgba(141, 61, 0, 1) */
	--yellow-light: #ffee9f; /* rgba(255, 238, 159, 1) */
	--orange: #FA5A34; /* rgba(250, 90, 52, 1) */
	--orange-dark: #7c2100; /* rgba(124, 33, 0, 1) */
	--orange-light: #ff8a5c; /* rgba(255, 138, 92, 1) */
	--green: #A8D934; /* rgba(168, 217, 52, 1) */
	--green-dark: #597608; /* rgba(89, 118, 8, 1) */
	--green-light: #cae781; /* rgba(202, 231, 129, 1) */
	--purple: #713182; /* rgba(113, 49, 130, 1) */
	--purple-dark: #210f28; /* rgba(33, 15, 40, 1) */
	--purple-light: #b15cc3; /* rgba(177, 92, 195, 1) */
	--pink: #FA5A78; /* rgba(250, 90, 120, 1) */
	--pink-dark: #fa123c; /* rgba(250, 18, 60, 1) */
	--pink-light: #fb96aa; /* rgba(251, 150, 170, 1) */
	--blue: #009FB7; /* rgba(0, 159, 183, 1) */
	--blue-dark: #003c42; /* rgba(0, 60, 66, 1) */
	--blue-light: #87e2f0; /* rgba(135, 226, 240, 1) */
	--neutral-dark: #1D1E2C; /* rgba(29, 30, 44, 1) */
}

body {
	min-height: 100vh;
	background: linear-gradient(to bottom, rgba(255,255,255,0.95), rgba(255,255,255,0.95)), url('images/carbon_fibre.jpg') repeat top center;
	position: relative;
}

.color-yellow { color: var(--yellow); }
.color-orange { color: var(--orange); }
.color-green { color: var(--green); }
.color-purple { color: var(--purple); }
.color-pink { color: var(--pink); }
.color-blue { color: var(--blue); }
.color-neutral-light { color: var(--neutral-light); }
.color-neutral-dark { color: var(--neutral-dark); }

.background-transparent,
.background-transparent > * {
	background-color: transparent;
}

.highlight-blue,
.navbar-light .navbar-nav .nav-item.highlight-blue {
	background-color: var(--blue);
}

.navbar-light .navbar-nav .nav-item.highlight-blue a { color: white; }

.navbar-light .navbar-nav .nav-item { transition: background-color 0.3s ease-out; }

.navbar-light .navbar-nav .nav-item:hover,
.navbar-light .navbar-nav .nav-item:focus {
	background-color: var(--blue-light);
}

.btn-yellow { 
	background-color: var(--yellow);
	border-color: var(--yellow); 
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color: var(--yellow-light);
	border-color: var(--yellow-dark);
	box-shadow: 0 0 0 0.2rem rgba(255, 228, 94, .25);
}

.btn-yellow:active {
	background-color: var(--yellow-dark);
	border-color: var(--yellow-light);
}

.btn-orange { 
	background-color: var(--orange);
	border-color: var(--orange); 
}

.btn-orange:hover,
.btn-orange:focus {
	background-color: var(--orange-light);
	border-color: var(--orange-dark);
	box-shadow: 0 0 0 0.2rem rgba(250, 90, 52, .25);
}

.btn-orange:active {
	background-color: var(--orange-dark);
	border-color: var(--orange-light);
}

.btn-green { 
	background-color: var(--green);
	border-color: var(--green); 
}

.btn-purple { 
	background-color: var(--purple);
	border-color: var(--purple); 
}

.btn-pink {
	color: white;
	background-color: var(--pink);
	border-color: var(--pink); 
}

.btn-pink:hover,
.btn-pink:focus {
	background-color: var(--pink-light);
	border-color: var(--pink-dark);
	box-shadow: 0 0 0 0.2rem rgba(250, 90, 120, .25);
}

.btn-pink:active {
	color: white;
	background-color: var(--pink-dark);
	border-color: var(--pink-light);
}

.btn-blue { 
	background-color: var(--blue);
	border-color: var(--blue); 
}

.btn-neutral-light { 
	background-color: var(--neutral-light);
	border-color: var(--neutral-light); 
}

.btn-neutral-dark { 
	background-color: var(--neutral-dark);
	border-color: var(--neutral-dark); 
}

.navbar a.navbar-brand {
	color: var(--neutral-light);
	background-color: var(--green);
	padding-left: 2rem;
	padding-right: 2rem;
	font-weight: bold;
}

main .container {
	background-color: var(--neutral-light);
	margin-top: 2rem;
	padding-bottom: 2rem;
}

#about-me > .container {
	margin-bottom: 0;
}

.color-bar {
	height: .5rem;
	margin-bottom: 2rem;
	background: linear-gradient(to right, maroon, maroon 5%, red 5%, red 10%, #ff611a 10%, #ff611a 15%, orange 15%, orange 20%, lemonchiffon 20%, lemonchiffon 25%, yellow 25%, yellow 30%, greenyellow 30%, greenyellow 35%, limegreen 35%, limegreen 40%, darkgreen 40%, darkgreen 45%, lightskyblue 45%, lightskyblue 50%, cyan 50%, cyan 55%, dodgerblue 55%, dodgerblue 60%, mediumblue 60%, mediumblue 65%, orchid 65%, orchid 70%, mediumpurple 70%, mediumpurple 75%, rebeccapurple 75%, rebeccapurple 80%, pink 80%, pink 85%, hotpink 85%, hotpink 90%, deeppink 90%, deeppink 95%, mediumvioletred 95%);
}

#anim {
	max-height: 300px;
	display: block;
	margin: 0 auto;
}

footer {
	text-align: center;
	background-color: #343A40;
	flex-shrink: 0;
	border-top: 6px solid var(--green);
}

@media screen and (max-width: 767px) {
	.modal-backdrop { display: none; }
}